html{
  background-color: rgb(192,208,255); 
    }
body{
  background-image: url(graphic/web_body.png);
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
    }
#hlavicka{
  background-image: url(graphic/web_header.png);
  width: 990px;         
         }    
#prihl{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
  text-align: right;
  padding-bottom: 3px;
  padding-right: 10px;      
      }
#prihl a{
  text-decoration: none;
  color: black;
        }
#prihl a:hover{
  color: white;
  background-color: rgb(44,100,188);            
              }
header{
  height: 125px;
      }
nav{
  height: 15px;
  width: 975px;
  padding: 0px 0px 5px 15px;
  background-image: url(graphic/web_nav.png);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
   }
nav a{
  text-decoration: none;
  color: black;    
     }    
#control{
  float: left;
  width: 200px;
        }
#menu{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
  width: 200px;
  height: 330px;
  margin-top: 10px;
  background-image: url(graphic/web_menu.png);   
     }
#menu_nadpis{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
  background-image: url(graphic/web_menu_nadpis.png);
  height: 35px;
  padding-top: 5px;
  font-size: 25px;
  text-align: center;
  display: block;        
          }
#menu_polozky{
   margin-top: 15px;          
             }
#menu a{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
  font-size: 19px;
  text-decoration: none;
  text-align: left;
  display: block;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  color: black;
  width: 166px;
  height: 25px;
  margin-left: 3px;
  padding-left: 20px;
  padding-top: 4px;
  margin-top: 10px;
       }
#menu a:hover{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
  color:white;
  background-color: rgb(44,100,188);
             }
#kontakt{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
  background-image: url(graphic/web_menu.png);
  text-align: left;
  width: 200px;
  height: 400px;
  color: black; 
        }
#kontakty{
  margin-top: 25px;        
        }
#kontakt_nadpis{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
  background-image: url(graphic/web_menu_nadpis.png);
  height: 35px;
  padding-top: 5px;
  font-size: 25px;
  text-align: center;
  display: block;
  color: black;               
               }
#kontakt span{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
  font-size: 14px;
  padding-left: 12px;
  display: block;
             }
h1{
  text-align: center;
  }
#text{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
  float: left;
  width: 700px;
  min-height: 1100px;
  text-align: justify;
  padding: 0px 40px 5px 40px;
     }
#text img{
  display: block;
  margin-left: auto;
  margin-right: auto;       
         }
footer{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
  height: 15px;
  clear: both;
  width: 990px;
  text-align: center;
  background-image: url(graphic/web_footer.png);
  color: black;
  padding: 5px 0px 5px 0px;  
      }
#upping{
  height: 600px;
  width: 580px;      
       }
#form1{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
  font-size: 18px;
  margin-top: 20px;
  width: 290px;
  height: 300px;
  float:left;
      }
#form2{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
  font-size: 18px;
  margin-top: 20px;
  padding-left: 30px;
  padding-top: 10px;
  width: 260px;
  height: 290px;
  float:left;
      }      
#row{
  margin-left: 20px;
  margin-top: 10px;
    }
#load{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
  padding-top: 50px;
  margin-top: 20px;
  float: left;
  text-align: center;
  width: 290px;
  height: 250px;
  font-size: 30px; 
     }
#gal{
  margin-top: 17px;    
    }      
#tl1{
  float: left;
  background-color: rgb(192,208,255);    
    }
#tl2{
  float: right;
  background-color: rgb(192,208,255);  
    }
#obrazek{
  clear: both;
  padding-top: 30px;      
        }
table{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
  padding-left: 150px;
  display: block;
  width: 700px;
  height: 150px;   
     }
table tr td{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
  width: 350px;          
            }
#text p{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
  font-size: 16px;
  text-align: justify;
  text-indent: 2em; 
 }
#akt{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
  max-width: 225px;
  max-height: 125px;
  width: 225px;
  height: 125px;
  min-width: 225px;
  min-height: 125px;   
     }
#titl{
  width: 225px;   
     }
#added{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
  color: grey;
  font-size: 14px;
  float: right;    
      }
hr{
  color: lightgrey;
  }
.fbook{
  margin-left: 18px;    
      }
.fbook img{
  width: 20px;
  float: left;
  padding-top: 5px;        
          }  
.fbook a{
  color: black;
  float: left;
  padding-left: 5px;
  margin-top: 5px;
  padding-right: 5px;
  height: 20px;
  text-decoration: none;    
      }
.fbook a:hover{
  color: white;
  background-color: rgb(44,100,188);            
              }
#sluzby{
  text-align: center;
       }
#sluzby img{
  width: 700px;         
           }
#sluzby h2{
  text-align: center;          
          }  